//Main bright red that is present on the visitor side
$primary-color: rgb(249, 1, 0);

//Secondary red (a little darker) that is present on the user side
$secondary-red: rgb(186, 13, 47);

//Secondary color used as a highlight background for text
$primary-highlight: rgb(255, 148, 142);

//Common colors:
$common-black: rgb(0, 0, 0);
$common-white: rgb(255, 255, 255);
$common-grey: rgb(200, 200, 200);
