@import "../../abstracts/variables";

.dropDownNav {
  button {
    border: none;
    background: inherit;
    cursor: pointer;

    &:hover {
      color: $primary-color;
    }
  }

  ol {
    position: absolute;
    background: $common-white;
    border: $common-grey solid 0.125rem;
    padding: 0.2rem;
  }
}