@import "../../abstracts/variables";

.navigationModal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: $common-white;
  z-index: 1;
}